# Session Outline

- Go through homework 5
- Answers about Indexing
- What is the Lambda operator?
- A Note on **Visualization**
- Cleaning Pipeline
- Adding to the NLP Pipeline: **Tokenization**

![coding](https://media.giphy.com/media/FPbnShq1h1IS5FQyPD/giphy.gif)

# Needed Libraries

In [1]:
import numpy as np
from numpy import *
from numpy import random # random data
import csv
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter
from itertools import chain
import nltk
nltk.download('punkt')
import codecs
import string
from nltk.corpus import stopwords
import re

[nltk_data] Downloading package punkt to /Users/Ashrakat/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

# Answers about Indexing

## Indexing in a list

In [ ]:
with open('/Users/Ashrakat/Dropbox/University/Oxford/Jobs/Teaching/Text Analysis/code/Basics-of-Text-Analysis-for-Political-Science/Data/dataset_solution4_ex2.csv') as f:
    lines = f.read().splitlines()

In [ ]:
lines

In [ ]:
#if I want to keep year

lines_year = lines.copy()
lines_year[2]=lines_year[2][:-4]
lines_year

In [ ]:
#keep only months
lines_month = lines.copy()
lines_month[2]=lines_month[2][4:6]
lines_month

In [ ]:
#keep only days
lines_day = lines.copy()
lines_day[2]=lines_day[2][6:8]
lines_day

In [ ]:
#or

lines_day2 = lines.copy()
lines_day2[2]=lines_day2[2][6:]
lines_day2

# What is the Lamda Operator?


A lambda function is a small anonymous function.

`lambda arguments : expression`

**Lets take a look at some examples?**

In [ ]:
#Example 1 Lambda

x = lambda a : a + 10
print(x(5))

In [ ]:
#Example 2 Lambda

x = lambda a, b : a * b
print(x(5, 6))

## Example: Indexing in Pandas
#### Now I want a function to iterate through each row, and remove the last two charcters in the id-snippet column. Lambda can help do that

In [ ]:
sascat_ccounts = pd.read_csv('/Users/Ashrakat/Dropbox/University/Oxford/Jobs/Teaching/Text Analysis/code/Basics-of-Text-Analysis-for-Political-Science/Data/datafromsession5_exc3.tsv',delimiter="\t")
del sascat_ccounts['Unnamed: 0']
sascat_ccounts.head()

In [ ]:
sascat_ccounts['id-snippet'] = sascat_ccounts['id-snippet'].map(lambda x: str(x)[:-2])

In [ ]:
sascat_ccounts

# A Note on Visualization

In [ ]:
 
country_notflat = [a.split() for a in sascat_ccounts['mentions_countries']] #this puts them in a list of list
country_notflat

In [ ]:
sascat_ccounts = pd.read_csv('/Users/Ashrakat/Dropbox/University/Oxford/Jobs/Teaching/Text Analysis/code/Basics-of-Text-Analysis-for-Political-Science/Data/datafromsession5_exc3.tsv',delimiter="\t")
del sascat_ccounts['Unnamed: 0']

- itertools is a function creating efficient loops, read more here https://docs.python.org/2/library/itertools.html and here https://realpython.com/python-itertools/

- chains from itertools: chain('ABC', 'DEF') --> A B C D E F - This function takes any number of iterables as arguments and “chains” them together.

In [ ]:
country_notflat = [a.split() for a in sascat_ccounts['mentions_countries']] 
#this command puts countries in a list of list according to thei structure in pandas
country_notflat

In [ ]:
counter = Counter(chain.from_iterable(country_notflat))
counter

In [ ]:
#sort by values
from collections import OrderedDict
d_sorted_by_value = OrderedDict(sorted(counter.items(), key=lambda x: x[1]))
d_sorted_by_value

In [ ]:
plt.bar(d_sorted_by_value.keys(), d_sorted_by_value.values(), color='r')
plt.gcf().set_size_inches(20, 10)
plt.xticks(rotation=90)
plt.show()

# Cleaning Pipeline

In [ ]:
def clean(x): #function to deal with a string
    x=x.lower() # lower text
    x=x.replace('[^\w\s]','') # remove punctuation
    x=x.replace('\d+', '') #replace digits with nothing
    x=x.split() # split in words
    x=[word for word in x if word not in stopwords.words('english')] #remove stopwords
    #change that if youre using another languages
    x=" ".join(str(x) for x in x) # join in sentence
    return x

# Tokenization Session - using NLTK package

Tokenization is splitting a phrase, sentence, paragraph, or an entire text document into smaller units, such as individual words or terms. Each of these smaller units are called tokens.

- Tokanization has advantages over Python .split() function especially when it comes to sentence tokenization

In [ ]:
#sentence tokenizer
#inspired by Edward MA blogging on Medium

In [ ]:
article = 'In computer science, lexical analysis, lexing or tokenization is the process of \
converting a sequence of characters (such as in a computer program or web page) into a \
sequence of tokens (strings with an assigned and thus identified meaning). A program that \
performs lexical analysis may be termed a lexer, tokenizer,[1] or scanner, though scanner \
is also a term for the first stage of a lexer. A lexer is generally combined with a parser, \
which together analyze the syntax of programming languages, web pages, and so forth.'

article2 = 'ConcateStringAnd123 ConcateSepcialCharacter_!@# !@#$%^&*()_+ 0123456'

article3 = 'It is a great moment from 10 a.m. to 1 p.m. every weekend.'

In [ ]:
import re

for doc in [article, article2, article3]: # for every document 
    print('Original Article:', (doc)) #print the original article
    print()#print empty space

    sentences = re.split('(\.|!|\?)', doc) #split by these items using regex
    
    for i, s in enumerate(sentences): #count number of sentences
        print('-->Sentence %d: %s' % (i, s)) #place holders %d

        #different ways

In [ ]:
import nltk
from nltk.tokenize import sent_tokenize
print('NTLK Version: %s' % nltk.__version__)

for article in [article, article2, article3]:
    print('Original Article: %s' % (article))
    print()

    doc = sent_tokenize(article)
    for i, token in enumerate(doc):
        print('-->Sentence %d: %s' % (i, token))

In [ ]:
text = """Amazing day... however, I still need a good night sleep. I will see you tomorrow for sure. Bye.Bye"""
# Splits at '.' 
text.split('. ')

In [ ]:
tokenized_text = nltk.sent_tokenize(text)
tokenized_text

### Lets work with a new dataset and discover it

In [ ]:
import codecs
dataset = codecs.open("/Users/Ashrakat/Desktop/rt_dataset.tsv", "r", "utf-8").read().strip().split("\n") 
# we split by line breaks

In [ ]:
print(dataset[0])
print(dataset[1])

In [ ]:
print (len(dataset))

In [ ]:
# how to count the number of topics?

topics = []
for line in dataset:
    topic = line.split("\t")[2]
    topics.append(topic)

In [ ]:
from collections import Counter

print (Counter(topics).most_common(30))

In [ ]:
#using list comprehension
topics = [line.split("\t")[2] for line in dataset]

from collections import Counter

print (Counter(topics).most_common(30))

In [ ]:
# let's start with some real NLP

# let's focus on a specific article, for example

article = dataset[50].split("\t")[3]
print (article)

In [ ]:
print (type(article))

In [ ]:
sentences = nltk.sent_tokenize(article) # <-- documentation for this command: http://www.nltk.org/_modules/nltk/tokenize.html

# for checking what you're getting back from a library, run these commands
print (type(sentences))
print (len(sentences))
print (sentences)

In [ ]:
# let us consider a single sentence - how do we do that? ## use the 5th sentence

sentence = sentences[4]
print (sentence)

In [ ]:
# let's divide the sentence in tokens (aka single words)
tokenized_sentence = nltk.word_tokenize(sentence)

print (tokenized_sentence)

In [ ]:
# lower-casing the sentence
without_capital_letters = [word.lower() for word in tokenized_sentence]

print (without_capital_letters)

# homework: write a for-loop for doing the same thing

In [ ]:
#remove stopwords
stop = stopwords.words('english')

without_stop_words = [word for word in without_capital_letters if word not in stop]

print (without_stop_words)

In [ ]:
import string
exclude = set(string.punctuation)

# homework: how do we exclude punctuation?, hint: use exclude, from the previous line

without_punct = [word for word in without_stop_words if word not in exclude]

print (without_punct)

## Let's take a look at our cleaning pipeline

missing remove stopwords

In [ ]:
dataset = codecs.open("/Users/Ashrakat/Desktop/rt_dataset.tsv", "r", "utf-8").read().strip().split("\n") 
article=dataset[1]
article

In [ ]:
with open('/Users/Ashrakat/Desktop/rt_dataset.tsv') as f:
    counter = Counter(f.read().strip().split())

print(counter.most_common(20))

In [ ]:
from nltk.corpus import stopwords
stop_words = stopwords.words('english')
exclude = set(string.punctuation)
exclude.add("‘")
exclude.add("“")

import re

def clean1(x): 
    x=x.replace('\n\n','') # remove the line breaks
    x=x.lower()# lower text
    x = ''.join(ch for ch in x if ch not in exclude) #remove punctuation
    x=re.sub('[0-9]+', '', x) # remove numbers
    x=x.split() #split words 
    x=[word for word in x if word not in stopwords.words('english')]#remove stopwords
   #x=" ".join(str(x) for x in x) # you can do this if you want to remove list structure
    return x

In [ ]:
cleaned1=clean1(article)
print(cleaned1)

### Can you spot:
- `httpstcohwuvvftbelarus`

In [ ]:
def nlp_pipeline1(text):
    
    # if you want you can split in sentences - i'm usually skipping this step
    text=text.lower()
    
    #tokenize words for each sentence
    text = nltk.word_tokenize(text)
    
    # remove punctuation and numbers
    #text = [token for token in text if token.isalpha()]
    
    # remove stopwords - be careful with this step    
    #text = [token for token in text if token not in stop_words]

    return text

In [ ]:
cleaned2=nlp_pipeline1(article)
print(cleaned2)

In [10]:
def nlp_pipeline2(text):
    
    # if you want you can split in sentences - i'm usually skipping this step
    text=text.lower()
    
    #tokenize words for each sentence
    text = nltk.word_tokenize(text)
    
    # remove punctuation and numbers
    text = [token for token in text if token.isalpha()]#The isalpha() keeps here caracters in the string are alphabets
    
    # remove stopwords - be careful with this step    
    text = [token for token in text if token not in stop_words]

    return text

In [11]:
cleaned2=nlp_pipeline2(article)
print(cleaned2)

NameError: name 'article' is not defined

In [ ]:
#discrepencies between both lists
def diff(first, second):
        second = set(second)
        return [item for item in first if item not in second]

diff(cleaned1,cleaned2)

- take care of weird punctuation in the beginning
- we are going to see in sentiment analysis why dont etc. can be of important

# Excercises:

**Excercise 1**

- Discover what the filter function of lambdas is
- use the list [listofnumbers] below
- write a lamda expression that will only print in the list any number that is larger than or equal 5

In [3]:
listofnumbers = [10,2,8,7,5,4,3,11,0, 1]

In [4]:
filter00 = filter(lambda x: x >= 5, listofnumbers) 
print(list(filter00))

[10, 8, 7, 5, 11]

**Excercise 2**

- use data - datafromsession5_exc3 - you can find it on GitHub in the data folder
- seperate in 3 new columns the following: a) the first six charachters for example hrxxxx  b) the number between the dash and dot for example 101 (in the first row) 3) the number after the dot (for example "1" in row 1)
- call the new columns: id1 id2 id3

In [5]:
sascat_ccounts = pd.read_csv('/Users/Ashrakat/Dropbox/University/Oxford/Jobs/Teaching/Text Analysis/code/Basics-of-Text-Analysis-for-Political-Science/Data/datafromsession5_exc3.tsv',delimiter="\t")
sascat_ccounts

,Unnamed: 0,content,id-snippet,count_countries,mentions_countries
0,0,provides for the enforcement of all provisions...,hr5114-101.1,44,iraq kuwait
1,1,requires the delivery of excess defense articl...,hr5114-101.2,4,yugoslavia
2,2,prohibits making available any esf or foreign ...,hr5114-101.3,2,kenya
3,3,prohibits the obligation of funds for the euro...,hr5114-101.4,1,poland
4,4,prohibits assistance to countries which fail t...,hr5114-101.5,0,None
...,...,...,...,...,...
95,95,earmarks esf and development assistance availa...,hr5368-102.16,0,None
96,96,expresses the sense of the congress that the r...,hr5368-102.17,4,egypt israel
97,97,prohibits esf assistance to zaire,hr5368-102.18,0,None
98,98,limits the amount of esf assistance for tied a...,hr5368-102.19,1,peru
99,99,withholds a specified amount of funds allocate...,hr5368-102.20,4,None

In [6]:
sascat_ccounts.rename(columns={'id-snippet':'id'}, 
                 inplace=True)

In [7]:
sascat_ccounts['id3']= (sascat_ccounts["id"].str[11:])
sascat_ccounts

,Unnamed: 0,content,id,count_countries,mentions_countries,id3
0,0,provides for the enforcement of all provisions...,hr5114-101.1,44,iraq kuwait,1
1,1,requires the delivery of excess defense articl...,hr5114-101.2,4,yugoslavia,2
2,2,prohibits making available any esf or foreign ...,hr5114-101.3,2,kenya,3
3,3,prohibits the obligation of funds for the euro...,hr5114-101.4,1,poland,4
4,4,prohibits assistance to countries which fail t...,hr5114-101.5,0,None,5
...,...,...,...,...,...,...
95,95,earmarks esf and development assistance availa...,hr5368-102.16,0,None,16
96,96,expresses the sense of the congress that the r...,hr5368-102.17,4,egypt israel,17
97,97,prohibits esf assistance to zaire,hr5368-102.18,0,None,18
98,98,limits the amount of esf assistance for tied a...,hr5368-102.19,1,peru,19
99,99,withholds a specified amount of funds allocate...,hr5368-102.20,4,None,20

In [8]:
sascat_ccounts['id1'], sascat_ccounts['id2_needsedit'] = sascat_ccounts['id'].str.split('-', 1).str
sascat_ccounts

,Unnamed: 0,content,id,count_countries,mentions_countries,id3,id1,id2_needsedit
0,0,provides for the enforcement of all provisions...,hr5114-101.1,44,iraq kuwait,1,hr5114,101.1
1,1,requires the delivery of excess defense articl...,hr5114-101.2,4,yugoslavia,2,hr5114,101.2
2,2,prohibits making available any esf or foreign ...,hr5114-101.3,2,kenya,3,hr5114,101.3
3,3,prohibits the obligation of funds for the euro...,hr5114-101.4,1,poland,4,hr5114,101.4
4,4,prohibits assistance to countries which fail t...,hr5114-101.5,0,None,5,hr5114,101.5
...,...,...,...,...,...,...,...,...
95,95,earmarks esf and development assistance availa...,hr5368-102.16,0,None,16,hr5368,102.16
96,96,expresses the sense of the congress that the r...,hr5368-102.17,4,egypt israel,17,hr5368,102.17
97,97,prohibits esf assistance to zaire,hr5368-102.18,0,None,18,hr5368,102.18
98,98,limits the amount of esf assistance for tied a...,hr5368-102.19,1,peru,19,hr5368,102.19
99,99,withholds a specified amount of funds allocate...,hr5368-102.20,4,None,20,hr5368,102.20

In [9]:
sascat_ccounts['id2_wrong']=(sascat_ccounts["id2_needsedit"].str[:-2]) #whats the mistake here?

In [10]:
sascat_ccounts

,Unnamed: 0,content,id,count_countries,mentions_countries,id3,id1,id2_needsedit,id2_wrong
0,0,provides for the enforcement of all provisions...,hr5114-101.1,44,iraq kuwait,1,hr5114,101.1,101
1,1,requires the delivery of excess defense articl...,hr5114-101.2,4,yugoslavia,2,hr5114,101.2,101
2,2,prohibits making available any esf or foreign ...,hr5114-101.3,2,kenya,3,hr5114,101.3,101
3,3,prohibits the obligation of funds for the euro...,hr5114-101.4,1,poland,4,hr5114,101.4,101
4,4,prohibits assistance to countries which fail t...,hr5114-101.5,0,None,5,hr5114,101.5,101
...,...,...,...,...,...,...,...,...,...
95,95,earmarks esf and development assistance availa...,hr5368-102.16,0,None,16,hr5368,102.16,102.
96,96,expresses the sense of the congress that the r...,hr5368-102.17,4,egypt israel,17,hr5368,102.17,102.
97,97,prohibits esf assistance to zaire,hr5368-102.18,0,None,18,hr5368,102.18,102.
98,98,limits the amount of esf assistance for tied a...,hr5368-102.19,1,peru,19,hr5368,102.19,102.
99,99,withholds a specified amount of funds allocate...,hr5368-102.20,4,None,20,hr5368,102.20,102.

In [11]:
#remove everything after . is a better iption for creating id2
sascat_ccounts['id2_correct'] = sascat_ccounts['id2_needsedit'].str.split('.').str[0]

In [12]:
sascat_ccounts

,Unnamed: 0,content,id,count_countries,mentions_countries,id3,id1,id2_needsedit,id2_wrong,id2_correct
0,0,provides for the enforcement of all provisions...,hr5114-101.1,44,iraq kuwait,1,hr5114,101.1,101,101
1,1,requires the delivery of excess defense articl...,hr5114-101.2,4,yugoslavia,2,hr5114,101.2,101,101
2,2,prohibits making available any esf or foreign ...,hr5114-101.3,2,kenya,3,hr5114,101.3,101,101
3,3,prohibits the obligation of funds for the euro...,hr5114-101.4,1,poland,4,hr5114,101.4,101,101
4,4,prohibits assistance to countries which fail t...,hr5114-101.5,0,None,5,hr5114,101.5,101,101
...,...,...,...,...,...,...,...,...,...,...
95,95,earmarks esf and development assistance availa...,hr5368-102.16,0,None,16,hr5368,102.16,102.,102
96,96,expresses the sense of the congress that the r...,hr5368-102.17,4,egypt israel,17,hr5368,102.17,102.,102
97,97,prohibits esf assistance to zaire,hr5368-102.18,0,None,18,hr5368,102.18,102.,102
98,98,limits the amount of esf assistance for tied a...,hr5368-102.19,1,peru,19,hr5368,102.19,102.,102
99,99,withholds a specified amount of funds allocate...,hr5368-102.20,4,None,20,hr5368,102.20,102.,102

In [13]:
sascat_ccounts['id2_correct'] = sascat_ccounts['id2_correct'].str.replace('.', '')
sascat_ccounts

,Unnamed: 0,content,id,count_countries,mentions_countries,id3,id1,id2_needsedit,id2_wrong,id2_correct
0,0,provides for the enforcement of all provisions...,hr5114-101.1,44,iraq kuwait,1,hr5114,101.1,101,101
1,1,requires the delivery of excess defense articl...,hr5114-101.2,4,yugoslavia,2,hr5114,101.2,101,101
2,2,prohibits making available any esf or foreign ...,hr5114-101.3,2,kenya,3,hr5114,101.3,101,101
3,3,prohibits the obligation of funds for the euro...,hr5114-101.4,1,poland,4,hr5114,101.4,101,101
4,4,prohibits assistance to countries which fail t...,hr5114-101.5,0,None,5,hr5114,101.5,101,101
...,...,...,...,...,...,...,...,...,...,...
95,95,earmarks esf and development assistance availa...,hr5368-102.16,0,None,16,hr5368,102.16,102.,102
96,96,expresses the sense of the congress that the r...,hr5368-102.17,4,egypt israel,17,hr5368,102.17,102.,102
97,97,prohibits esf assistance to zaire,hr5368-102.18,0,None,18,hr5368,102.18,102.,102
98,98,limits the amount of esf assistance for tied a...,hr5368-102.19,1,peru,19,hr5368,102.19,102.,102
99,99,withholds a specified amount of funds allocate...,hr5368-102.20,4,None,20,hr5368,102.20,102.,102

**Excercise 3**

- Load convertfromwidetolong using pandas
- Reshape dataset to long format

In [14]:

import pandas as pd
reshapedata = pd.read_csv('/Users/Ashrakat/Desktop/convertfromwidetolong.tsv',delimiter="\t")
reshapedata.head()

,country,1977,1978,1979,1980,1981,1982,1983,1984,1985,...,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001
0,Bolivia,some stats,more stats,other things,blank,continue,12,&8,some stats,more stats,...,more stats,other things,blank,continue,12,&8,blank,continue,12,&8

In [15]:
reshapedata1=reshapedata.melt(id_vars='country', var_name='year', value_name='some_value')
reshapedata1

    country  year    some_value
0   Bolivia  1977    some stats
1   Bolivia  1978    more stats
2   Bolivia  1979  other things
3   Bolivia  1980        blank
4   Bolivia  1981      continue
5   Bolivia  1982            12
6   Bolivia  1983            &8
7   Bolivia  1984    some stats
8   Bolivia  1985    more stats
9   Bolivia  1986  other things
10  Bolivia  1987        blank
11  Bolivia  1988      continue
12  Bolivia  1989            12
13  Bolivia  1990            &8
14  Bolivia  1991    some stats
15  Bolivia  1992    more stats
16  Bolivia  1993  other things
17  Bolivia  1994        blank
18  Bolivia  1995      continue
19  Bolivia  1996            12
20  Bolivia  1997            &8
21  Bolivia  1998        blank
22  Bolivia  1999      continue
23  Bolivia  2000            12
24  Bolivia  2001            &8

**Excercise 4**

a)
- Your first task is to improve the country dictionary from last class
- Countries like the UK, can appear in the text as UK, United Kingdom, Great Britian etc. we dont account for all the ways the countries are mentioned
- This is a huge problem in text analysis if you can not recognize different ways a country can be mentioned
- create a new dictionary for Russia, that includes all the forms Russia can be mentioned
- create the same type of dictionary for Central Republic of Congo
- create the same type of dictionary for Yugoslavia

then:

- create three new columns, one for each Russia, one for CR of Congo, one for Yugoslavia.
- in each of these columns add the name of the country that was mentioned.

b)
- Please use the methods for text processing that we have used until now to clean the articles, you can use pandas or any other method (think when does this step has to be done)

c) 
- Count most frequent words overall
- Plot most frequent words in a histogram

In [30]:
countries = ['United States of America', 'Canada', 'Bahamas', 'Cuba', 'Haiti', 'Dominican Republic', 'Jamaica', 'Trinidad and Tobago', 'Barbados', 'Mexico', 'Belize', 'Guatemala', 'Honduras', 'El Salvador', 'Nicaragua', 'Costa Rica', 'Panama', 'Colombia', 'Venezuela', 'Guyana', 'Surinam', 'Ecuador', 'Peru', 'Brazil', 'Bolivia', 'Paraguay', 'Chile', 'Argentina', 'Uruguay', 'United Kingdom', 'Ireland', 'Netherlands', 'Belgium', 'Luxembourg', 'France', 'Switzerland', 'Spain', 'Portugal', 'German Federal Republic', 'German Democratic Republic', 'Poland', 'Austria', 'Hungary', 'Czechoslovakia', 'Czech Republic', 'Slovakia', 'Italy/Sardinia', 'Malta', 'Albania', 'Montenegro', 'Macedonia (Former Yugoslav Republic of)', 'Croatia', 'Serbia', 'Yugoslavia', 'Bosnia-Herzegovina', 'Kosovo', 'Slovenia', 'Greece', 'Cyprus', 'Bulgaria', 'Moldova', 'Rumania', 'Russia (Soviet Union)', 'Estonia', 'Latvia', 'Lithuania', 'Ukraine', 'Belarus (Byelorussia)', 'Armenia', 'Georgia', 'Azerbaijan', 'Finland', 'Sweden', 'Norway', 'Denmark', 'Iceland', 'Cape Verde', 'Guinea-Bissau', 'Equatorial Guinea', 'Gambia', 'Mali', 'Senegal', 'Benin', 'Mauritania', 'Niger', 'Cote D\x92Ivoire', 'Guinea', 'Burkina Faso (Upper Volta)', 'Liberia', 'Sierra Leone', 'Ghana', 'Togo', 'Cameroon', 'Nigeria', 'Gabon', 'Central African Republic', 'Chad', 'Congo', 'Congo, Democratic Republic of (Zaire)', 'Uganda', 'Kenya', 'Tanzania/Tanganyika', 'Zanzibar', 'Burundi', 'Rwanda', 'Somalia', 'Djibouti', 'Ethiopia', 'Eritrea', 'Angola', 'Mozambique', 'Zambia', 'Zimbabwe (Rhodesia)', 'Malawi', 'South Africa', 'Namibia', 'Lesotho', 'Botswana', 'Swaziland', 'Madagascar', 'Comoros', 'Mauritius', 'Morocco', 'Algeria', 'Tunisia', 'Libya', 'Sudan', 'South Sudan', 'Iran (Persia)', 'Turkey (Ottoman Empire)', 'Iraq', 'Egypt', 'Syria', 'Lebanon', 'Jordan', 'Israel', 'Saudi Arabia', 'Yemen (Arab Republic of Yemen)', "Yemen, People's Republic of", 'Kuwait', 'Bahrain', 'Qatar', 'United Arab Emirates', 'Oman', 'Afghanistan', 'Turkmenistan', 'Tajikistan', 'Kyrgyz Republic', 'Uzbekistan', 'Kazakhstan', 'China', 'Tibet', 'Mongolia', 'Taiwan', "Korea, People's Republic of", 'Korea, Republic of', 'Japan', 'India', 'Bhutan', 'Pakistan', 'Bangladesh', 'Myanmar (Burma)', 'Sri Lanka (Ceylon)', 'Maldives', 'Nepal', 'Thailand', 'Cambodia (Kampuchea)', 'Laos', 'Vietnam, Democratic Republic of', 'Vietnam, Republic of', 'Malaysia', 'Singapore', 'Brunei', 'Philippines', 'Indonesia', 'East Timor', 'Australia', 'Papua New Guinea', 'New Zealand', 'Solomon Islands', 'Fiji']

In [31]:
yugoslavia = ["Serbia", "Yugoslavia", "Serbia and Montenegro"]
CRC=["Congo", "Democratic" "Republic of Congo", "Zaire"]
russia=["Russia", "Russian Federation", "Soviets", "Soviet Union"]

In [32]:
yugoslavia=[x.lower() for x in yugoslavia]
CRC=[x.lower() for x in CRC]
russia=[x.lower() for x in russia]

In [33]:
sascat = pd.read_csv('/Users/Ashrakat/Desktop/sascat_excerpt.tsv',delimiter="\t")
sascat = sascat.rename({"Unnamed: 10": 'content'}, axis=1)
sascat = sascat[['content','id-snippet']]

In [34]:
sascat.head()

                                             content    id-snippet
0  Provides for the enforcement of all provisions...  hr5114-101.1
1  Requires the delivery of excess defense articl...  hr5114-101.2
2  Prohibits making available any ESF or foreign ...  hr5114-101.3
3  Prohibits the obligation of funds for the Euro...  hr5114-101.4
4  Prohibits assistance to countries which fail t...  hr5114-101.5

In [35]:
def nlp_pipeline(text):
    
    text=text.lower()
    
    #tokenize words for each sentence
    text = nltk.word_tokenize(text)
    
    # remove punctuation and numbers
    text = [token for token in text if token.isalpha()]#The isalpha() keeps here caracters in the string are alphabets
    
    # remove stopwords - be careful with this step    
    text = [token for token in text if token not in stop_words]

    return text

In [36]:
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

sascat['content'] = sascat['content'].apply(nlp_pipeline)

sascat.head()

                                             content    id-snippet
0  [provides, enforcement, provisions, law, impos...  hr5114-101.1
1  [requires, delivery, excess, defense, articles...  hr5114-101.2
2  [prohibits, making, available, esf, foreign, m...  hr5114-101.3
3  [prohibits, obligation, funds, european, bank,...  hr5114-101.4
4  [prohibits, assistance, countries, fail, take,...  hr5114-101.5

In [37]:
sascat['content'] = [' '.join(map(str, l)) for l in sascat['content']] # remove list structure
sascat.head()

                                             content    id-snippet
0  provides enforcement provisions law impose san...  hr5114-101.1
1  requires delivery excess defense articles nato...  hr5114-101.2
2  prohibits making available esf foreign militar...  hr5114-101.3
3  prohibits obligation funds european bank recon...  hr5114-101.4
4  prohibits assistance countries fail take steps...  hr5114-101.5

In [38]:
for index, row in sascat.iterrows(): # itereate on rows
    words_to_keep = [] # create a list of words you want to keep
    for word in row[0].split(' '): # for words in each row in colum zero, split by space
        if word in russia : #for each word in the dictionary
            words_to_keep.append(word + ' ') # append to the list of words to keep the matching words
    sascat.loc[index, 'mentions_russia']= ''.join(words_to_keep) #create a new column and paste the words you want to keep

In [39]:
for index, row in sascat.iterrows(): # itereate on rows
    words_to_keep = [] # create a list of words you want to keep
    for word in row[0].split(' '): # for words in each row in colum zero, split by space
        if word in CRC : #for each word in the dictionary
            words_to_keep.append(word + ' ') # append to the list of words to keep the matching words
    sascat.loc[index, 'mentions_crc']= ''.join(words_to_keep) #create a new column and paste the words you want to keep

In [40]:
for index, row in sascat.iterrows(): # itereate on rows
    words_to_keep = [] # create a list of words you want to keep
    for word in row[0].split(' '): # for words in each row in colum zero, split by space
        if word in yugoslavia : #for each word in the dictionary
            words_to_keep.append(word + ' ') # append to the list of words to keep the matching words
    sascat.loc[index, 'mentions_yugoslavia']= ''.join(words_to_keep) #create a new column and paste the words you want to keep

In [41]:
sascat.head()

,content,id-snippet,mentions_russia,mentions_crc,mentions_yugoslavia
0,provides enforcement provisions law impose san...,hr5114-101.1,,,
1,requires delivery excess defense articles nato...,hr5114-101.2,,,yugoslavia yugoslavia yugoslavia yugoslavia
2,prohibits making available esf foreign militar...,hr5114-101.3,,,
3,prohibits obligation funds european bank recon...,hr5114-101.4,,,
4,prohibits assistance countries fail take steps...,hr5114-101.5,,,

In [42]:
sascat['mentions_russia']=sascat['mentions_russia'].str.split(' ').apply(set).str.join(', ')
sascat['mentions_crc']=sascat['mentions_crc'].str.split(' ').apply(set).str.join(', ')
sascat['mentions_yugoslavia']=sascat['mentions_yugoslavia'].str.split(' ').apply(set).str.join(', ')

In [43]:
sascat['mentions_russia'] = sascat['mentions_russia'].apply(lambda x: x.replace(',', ''))
sascat['mentions_crc'] = sascat['mentions_crc'].apply(lambda x: x.replace(',', ''))
sascat['mentions_yugoslavia'] = sascat['mentions_yugoslavia'].apply(lambda x: x.replace(',', ''))

In [44]:
sascat

,content,id-snippet,mentions_russia,mentions_crc,mentions_yugoslavia
0,provides enforcement provisions law impose san...,hr5114-101.1,,,
1,requires delivery excess defense articles nato...,hr5114-101.2,,,yugoslavia
2,prohibits making available esf foreign militar...,hr5114-101.3,,,
3,prohibits obligation funds european bank recon...,hr5114-101.4,,,
4,prohibits assistance countries fail take steps...,hr5114-101.5,,,
...,...,...,...,...,...
95,earmarks esf development assistance available ...,hr5368-102.16,,,
96,expresses sense congress recommended levels es...,hr5368-102.17,,,
97,prohibits esf assistance zaire,hr5368-102.18,,zaire,
98,limits amount esf assistance tied aid credits ...,hr5368-102.19,,,
99,withholds specified amount funds allocated dom...,hr5368-102.20,,,

**Excercise 4**

Use the cleaning methods we have learned until now to clean the text of rt_dataset.tsv

You can use pandas or not, you're choice

In [33]:
import pandas as pd
rt_news = pd.read_csv('/Users/Ashrakat/Desktop/rt_dataset.tsv',delimiter="\t")
rt_news.columns = ['date', 'title',"topic","content"]
rt_news.head()

,date,title,topic,content
0,"16 Sep, 2016 14:08","Putin: We don’t approve of WADA hackers, but i...",news,"We don’t approve of what hackers do, but what ..."
1,"11 Sep, 2016 22:33","Hillary Clinton diagnosed with pneumonia, canc...",usa,"Dr. Lisa Bardack, Clinton’s personal doctor s..."
2,"2 Dec, 2016 20:15",Ronaldinho and Riquelme offer to come out of r...,sport,READ MORE: 71 dead after plane carrying Brazil...
3,"9 Feb, 2016 21:13",NATO & European leaders whip up hysteria over ...,news,“The leaders of NATO member states and a numbe...
4,"5 Apr, 2016 18:01",US ‘Gremlin’ drones designed to cause missile ...,usa,"Four firms, including fighter jet manufacturer..."

In [34]:
rt_news['title_content']= rt_news['title']+ " " + rt_news['content']

In [35]:
from nltk.corpus import stopwords
stop_words = stopwords.words('english')
def nlp_pipeline2(text):
    
    text=text.lower()

    #tokenize words for each sentence
    text = nltk.word_tokenize(text)
    
    # remove punctuation and numbers
    text = [token for token in text if token.isalpha()]#The isalpha() keeps here caracters in the string are alphabets
    
    # remove stopwords - be careful with this step    
    text = [token for token in text if token not in stop_words]
    

    return text

In [36]:
rt_news["title_content"]=rt_news['title_content'][0:5000].apply(nlp_pipeline2)

In [37]:
rt_news.head()

,date,title,topic,content,title_content
0,"16 Sep, 2016 14:08","Putin: We don’t approve of WADA hackers, but i...",news,"We don’t approve of what hackers do, but what ...","[putin, approve, wada, hackers, information, l..."
1,"11 Sep, 2016 22:33","Hillary Clinton diagnosed with pneumonia, canc...",usa,"Dr. Lisa Bardack, Clinton’s personal doctor s...","[hillary, clinton, diagnosed, pneumonia, cance..."
2,"2 Dec, 2016 20:15",Ronaldinho and Riquelme offer to come out of r...,sport,READ MORE: 71 dead after plane carrying Brazil...,"[ronaldinho, riquelme, offer, come, retirement..."
3,"9 Feb, 2016 21:13",NATO & European leaders whip up hysteria over ...,news,“The leaders of NATO member states and a numbe...,"[nato, european, leaders, whip, hysteria, myth..."
4,"5 Apr, 2016 18:01",US ‘Gremlin’ drones designed to cause missile ...,usa,"Four firms, including fighter jet manufacturer...","[us, gremlin, drones, designed, cause, missile..."

In [ ]:
#Sources: https://medium.com/@makcedward/nlp-pipeline-sentence-tokenization-part-6-86ed55b185e6