# **Welcome to Python**

## Lets install Jupyter Notebooks

What is a Jupyter Notebook: "Jupyter Notebook is an open-source web application that allows you to create and share documents that contain live code, equations, visualizations and narrative text."

in your terminal please enter:

``pip install jupyterlab``

if that doesnt work try:

``conda install -c conda-forge jupyterlab``

## Lets understand Jupyter notebook

1. To a cell you need to press the play button
2. To create a new cell you click +
3. You can stop the code from running by clicking on squary button
4. You can create cells where you write text by clicking on the Markdown option. Here is a cheat sheet [link](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet) for markdown, probably you have already used it in R 
5. If you need to clear everything that is saved in a python notebook (remove saved variables/data etc.). You can click on Kernel and choose **restart and clear output**
6. Notebooks saved in location automatically, unless you dont have space

## Github

**Why use GitHub?**

- Open Source
- Have your code reviewed by the community
- Give your projects visibility
- Collaborate and track changes for your code visibly
- Newsfeed with latest updates - You can  see what changes have been made in any other repositories you follow. 
- Explore repositories -  On the right of your dashboard, you can locate suggested repositories to follow — these suggestions are based on repositories you have followed or starrted.

**How do we use Github?**

- Fork a rep: Create a new project based on a project that already exists
- Pull Request:  Authors of the original repository can see your work & choose if they want to accept it to the official project.
- Star: Keep a copy of the repository

**Download our data for the class**

You can download the whole repository with one click: https://github.com/aelshehawy/Basics-of-Text-Analysis-for-Political-Science

If you wanna download a specific Python sheet or csv file

1. First click on Raw
2. Then, press ctrl+s to save it as **.ipynb**

## Python Interactive Shell

### The print function
Here you can use print() built in function for python to print strings, intergers etc. <br \>
To print a string you need to wrap it in ""

In [27]:
print("Welcome to Text Analysis Class")

Welcome to Text Analysis Class

In [28]:
print("Using this you can print strings")

Using this you can print strings

In [29]:
print(5)

5

In [30]:
# you can print intergers and strings together like this - seperate with a comma
print(5, "you can print also the digit 5 and combine it with a description")

5 you can print also the digit 5 and combine it with a description

In [31]:
# using the hashtag to comment out lines or comment your code
#print(5*7,"you can print also the digits 35 and combine them with a description")

### Assign variable values
here we save a value inside of a variable - exactly as we do with other statistical programmes like R and Stata

In [32]:
welcome=("Welcome to Text Analysis Class")

as we saved the string within the variable welcome, we can use python's built in function print() to see what we have saved

In [33]:
print(welcome)

Welcome to Text Analysis Class

Same goes with intergers and calculations

In [34]:
calculation =(5*2*2)

In [35]:
print(calculation)

20

**Take care of overwritting**

In [36]:
calculation=(10*10)
calculation

100

using variables that we have already assigned

In [37]:
# To calculate m=x+y
x=7
y=9

In [38]:
x

7

In [39]:
y

9

In [40]:
m=(x+y)
m

16

In [41]:
A=3
r=2
multiplication=A*r
multiplication

6

In [42]:
combine = (calculation, welcome, m)
combine

(100, 'Welcome to Text Analysis Class', 16)

## What type of Object are we using?

In [43]:
object1="yes"
print(object1)
print(type(object1))

yes
<class 'str'>

In [44]:
print(type("string?"))

<class 'str'>

In [45]:
print(type(5*10))

<class 'int'>

In [46]:
#float: a number that has both an integer and fractional part, separated by a point.
print(type(1.1))

<class 'float'>

In [47]:
#boolean type, a statement that is false or true
a = True
b= False

In [48]:
type(a)
type(b)

bool

## Maths

In [49]:
#you can use python to perform mathematical operations
5+5

10

In [50]:
#you can also use the print function to achieve the same thing
print(5+5)

10

In [51]:
#multiplication
5*5

25

In [52]:
#Power
5**5

3125

In [53]:
# Multiplication, division interger, division float, modulo, and exponentiation
print(3 * 5)
print(10 / 3)
print(10 // 3)
print(18 % 7)
print(4 ** 2)

15
3.3333333333333335
3
4
16

In [54]:
A=11//2 #interger division
print(A)

5

In [55]:
A=11/2 #float division
print(A)

5.5

In [56]:
#It is important to know that python needs brackets to understand what it should calculate first
#Lets experiment

In [57]:
(1666-20+40)*(800-10)*(300+20)

426220800

In [58]:
(1666-20+40*800-10*300+20)

30666

## Boolean operations

In [59]:
a or b

True

In [60]:
a and b

False

In [61]:
not a

False

In [62]:
a == b

False

In [63]:
a!=b

True

## Transform Objects

In [64]:
number1= 100
number2= 2.3

In [65]:
#transform to string
str(number1)

'100'

In [66]:
#transform to float
int(number2)

2

## Input from keyboard

In [69]:
answer_this_question = input ("Why are you here? \n")

Why are you here?
a

######################################################################################################################

######################################################################################################################

# Excercies

In [70]:
#Excercise 1

# a- Print the multiplication of 7 and 8, save them in a variable called mult
# b- Calculate 5^2, save in a variable called power
# print the results

In [71]:
mult=7*8
print(mult)
power=5**2
print(power)

56
25

In [72]:
#Excercise 2

#calculate how many weeks in 10 years - approximately
#hints:
#save the number of weeks in a year in a variable called weeks
#save the number 10 in a variable called 10 years
#specificy and print outcome - variable named weeksin10years

In [73]:
weeks=12*4.3
years=10
weeksin10years=weeks*years
print(weeksin10years)

516.0

In [74]:
#Excercise 3

# Print the interger of the division of 244 by 5 and save them in a variable called division

division=244//5
division

48

In [75]:
print(type(division))

<class 'int'>

In [76]:
#Excercise 4

# Calculate the area of a circle
# 1) define the variables that you need - pi and r, in that case r=3
# 2) write the equation
# 3) make sure you have a float type answer
# 4) print out the result

In [77]:
pi=3.14
r=3
A=((3**2)*3.14)
A

28.26

In [78]:
#Excercise 5

# Request the name of the user
# Request the age of a user
# print out the name and age of the user in a sentence using the variables you have defined for age and name

In [79]:
name=input("Whats your name?\n")

Whats your name?
as

In [80]:
age=input("Whats your age?\n")

Whats your age?
s

In [84]:
answer = print("This person's name is"+ " " + name + "and they are"+ " " + age + "years old.")

This person's name is asand they are syears old.

In [85]:
#Excercise 5

#Fix the errors here
# Fix the printout
randomnumber1=10
randomnumber2=13
print("I have" + " " +str(randomnumber1) + " of apples and" + " " + str(randomnumber2) + " " + "of bananas!")

I have 10 of apples and 13 of bananas!

In [86]:
#Excercise 6

# Fix the errors here
# Fix the printout

#define random numbers
randomnumber1=7
randomnumber2=8
#transform numbers to string
print("I have" + " " +str(randomnumber1) + " of apples and" + " " + str(randomnumber2) + " " + "of bananas!")

I have 7 of apples and 8 of bananas!

In [87]:
#Excercise 7

#Display “My Name Is [insert your name]” as “My**Name**Is**[insert your name]” using output formatting of a print() function

print('My', 'Name', 'Is', 'Ash', sep='**')

My**Name**Is**Ash

In [88]:
#Excercise 8

#Display this float number with 2 decimal places  -40400.2233-  
#Hint use print()


print('%.2f' % 40400.2233)

40400.22

In [89]:
#Excercise 9

#fix this code 

print "This doesnt work"
print('This doesn't work')
input('Input your age: ')
print(name

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("This doesnt work")? (<ipython-input-89-8cd6408fc411>, line 5)

In [90]:
#solutions
print ("This doesnt work") # we need brackets
print('This doesnt work') #we have an extra ' in doesnt
age=input('Input your age: ')# we forgot to close brackets, also we havent dfined the variable age that we input
print(age)

This doesnt work
This doesnt work
Input your age: a
a

In [91]:
#Excercise 10

# a- Ask the user to input a random number
# b- Ask the user to input another random number
# c- calculate the sum of both random numbers - save them in a variable called sum 
# d- make sure the variable sum is an interger

#Hint use input for a and b

In [97]:
number1=input("Please input number ")
number2=input("Please input number ")

Please input number 2
Please input number 3

In [98]:
sum=number1+number2
sum

'23'

In [99]:
type(sum)

str

In [100]:
sum=int(sum)
sum

23