This session we are going to continue learning Python.

But.. drumroll..

We are going to also learn some exciting stuff about collecting data from the web

# More Learning about Python

### Combining objects

In [1]:
#combine strings
text = "we"+ "are"+"learning " + "python'"

text

"wearelearning python'"

In [2]:
intergers="2"+"3"
print(type(intergers))

<class 'str'>

In [3]:
intergers=2+3
intergers
# see the difference between this and the cell above?
print(type(intergers))

<class 'int'>

In [4]:
#conversions - we talked about transforming types of objects last week
#we can save an item as string here s1="5"
s1="5"
x= int (s1) *3 #we transform first s1 as interger and then we multiply it by 3
print (x) # 5*3=15

15

### Understanding Python Strings

Inputting a string

In [5]:
#it doesnt matter whether you use single or double quoted strings to save a string object
string1 = "Hi this is session two"
string2 = 'And I am loving python'
print (string1)

Hi this is session two

In [6]:
print(string1)

Hi this is session two

In [7]:
print(string2)

And I am loving python

what if we wanna make sure if there is a specific word in the saved string?

In [8]:
"is" in string2

False

In [9]:
"am" in string2

True

#### Manipulate string

In [10]:
myname="ashrakat"

In [11]:
#if I want to make letter uppercase
print(myname.title())

Ashrakat

In [12]:
#if I want to make the whole string uppercase
print (myname.upper())

ASHRAKAT

#### Strip space

In [13]:
university=" University of Houston "

In [14]:
#remove all leading and ending spaces
university.strip()

'University of Houston'

In [15]:
#remove all space characters in sentence
university.replace(" ", "")

'UniversityofHouston'

#### Count number of words and letters

In [16]:
#count number of charachters incluing white space
university="University of Houston"
len(university)

21

In [17]:
#count number of words
len(university.split()) # split function splits by white-space

3

In [18]:
#count number of occurence of letter
print(university.count('u'))
print(university.count('U'))

1
1

## Libraries in Python

Usually you enter in terminal ``pip install [project name]``, best is to check source documentation of project. <br\>
Example: https://pypi.org/project/Counter/

In [19]:
# you need a library to count faster, this is a very powerful library that we wil use in the future
from collections import Counter

Counter(university) # here we count how much each letter appears, counter can do much more

Counter({' ': 2,
         'H': 1,
         'U': 1,
         'e': 1,
         'f': 1,
         'i': 2,
         'n': 2,
         'o': 3,
         'r': 1,
         's': 2,
         't': 2,
         'u': 1,
         'v': 1,
         'y': 1})

## Data Structures in Python

### Lists

ordered, changable, allows duplicated items

In [20]:
quarantine =['baking','zoom',"productiveness","instagram","netflix","social-distancing"]
print(quarantine)

['baking', 'zoom', 'productiveness', 'instagram', 'netflix', 'social-distancing']

In [21]:
len(quarantine) # we see we have 5 items in our list

6

**VERY IMPORTANT** In Python counting of items/observations always starts with 0

In [22]:
#select items
quarantine_food_edition=quarantine[0]
quarantine_food_edition

'baking'

In [23]:
#select range, slice slice
quarantine_fun_edition=quarantine[3:5]
quarantine_fun_edition

['instagram', 'netflix']

### Dictionaries

A dictionary has a key and a corresponding value

How to create a dictionary

In [24]:
myshoppingitems = ['Pasta', 10, 'Pesto', 20, 'Chocolate', 5]
myshoppingitems = {'Pasta': 10, 'Pesto': 20, 'Chocolate': 5}
myshoppingitems

{'Chocolate': 5, 'Pasta': 10, 'Pesto': 20}

In [25]:
emptydictionary = dict()
emptydictionary

{}

Add first item to the dictionary, dictionary keys should always be unique

In [26]:
emptydictionary['Pasta'] = 10
print(emptydictionary)

{'Pasta': 10}

Access key,item in a dictionary

In [27]:
myshoppingitems['Pesto']

20

### Tuples

- immutable sequence of Python objects - you cannot update or change the values of tuple elements
- their advantage is that they have a fixed value

In [28]:
tuple1 = ('noon', 'morning', "afternoon", "evening")
print(tuple1)

('noon', 'morning', 'afternoon', 'evening')

create tuple of one value, you always need a comma at the end

In [29]:
tupele2 = (1,)
tupele2

(1,)

you can access values

In [30]:
print(tuple1[2])

afternoon

you can not modify within tuples, but you can concate different tuples

In [31]:
tuple1 = ('noon', 'morning', "afternoon", "evening")
tuple2 = ('12', '10', "16", "18")
tuplemix=tuple1+tuple2
tuplemix

('noon', 'morning', 'afternoon', 'evening', '12', '10', '16', '18')

you can not modify within tuples, but you can repeat tuples in a new tuple

In [32]:
tuplemultiply=tuple2*2
tuplemultiply

('12', '10', '16', '18', '12', '10', '16', '18')

you can check membership

In [33]:
3 in tuple2

False

### Sets

What is a set? It is an unordered collection of items. You can not be sure in which order the items will appear.

Elements of the set:
1. must be unique - doesnt allow for duplicate elements
2. elemenets can not be changed (you can not access items by refering to an index, as done in lists)

The set as a whole is mutable, we can add and remove items from it

Usually sets are used to for mathematical operations like, union and intersection

In [34]:
#creation of sets

set1 = {8, 2, 3, 20, 13, 100}
set2 = {"apple",2,3, "orange"}
print(set1)
print(set2)

{2, 3, 100, 8, 13, 20}
{2, 3, 'orange', 'apple'}

In [35]:
# no duplication allowed

set3 = {8, 2, 3, 20, 13, 100, 20, 3}
print(set3)

{2, 3, 100, 8, 13, 20}

In [36]:
# transform a list to a set

newlist=[8,20,33,400]
newset = set(newlist)
print(newset)

{8, 33, 20, 400}

In [37]:
#mutability of set

#add an item
newset.add(2)
print(newset)

{33, 2, 8, 400, 20}

In [38]:
#to add more than one item you use update
newset.update([100, 5, 6])
print(newset)

{33, 2, 100, 5, 6, 8, 400, 20}

In [39]:
# discard an item (similar remove - however remove will show an error if the item is not in the set)
newset.discard(100)
print(newset)

{33, 2, 5, 6, 8, 400, 20}

## **List Comprehension** 
This is a very important method that will help you a lot in the future!

Let's very simply compare a loop and list comrepehension <br\>
Next week we are putting more focus on loops!

In [1]:
#Lets define a list
letters=["a","b","c"]
#we want to print out letter by letter in that list

for letter in letters:# for each letter in the list, print each letter
    print(letter)

a
b
c

In [2]:
#we can also instead using letter, use x

for x in letters:# for each letter in the list, print each letter
    print (x) # as you see it is the same outcome

a
b
c

In [3]:
#simple loop to go through the elements
#we dont have to save the list before the loop, we can also integrate it within the loop
for l in ["a","b","c"]: 
    print(l)

a
b
c

In [4]:
#lets move to list comprehension
#again we have a list of numbers
numbers=[1,2,3,4,5,6]
numbers

for n in numbers: 
    print(n**2)

1
4
9
16
25
36

**Why do we use list comprehesion?**

Basically to create a list based on another items of a list.
We go through each element of the list.

In [5]:
squares = [n**2 for n in numbers]
squares

[1, 4, 9, 16, 25, 36]

In [8]:
#lets define a list
random = 'Today is a sunny day, I need some Vitamin D'
#to lower text
random_lower = [x.lower() for x in random.split()] #we say for each word (x) in the list we call random lower the text
print(random_lower)

['today', 'is', 'a', 'sunny', 'day,', 'i', 'need', 'some', 'vitamin', 'd']

In [41]:
grades = [88, 94,100, 99, 70,98,55,20]
# to choose grades above 80
[g for g in grades if g > 80] 
# for each grade (we call it here g) in the grades list give back the numbers if they are above 80

[88, 94, 100, 99, 98]

# Excercises

**Exercise 1**

1. count how the occurence of each letter in the sentence. Hint: use the Counter library in python
2. count number of characters/letters only (no white space, no punctuation) - hint use the replace in-built function in python.

In [42]:
sentence=("Hello World, I am so excited; to finally be able to get out of quarantine and meet all my friends")

In [43]:
#1
from collections import Counter
counter_occurences = Counter(sentence)
counter_occurences

Counter({' ': 19,
         ',': 1,
         ';': 1,
         'H': 1,
         'I': 1,
         'W': 1,
         'a': 7,
         'b': 2,
         'c': 1,
         'd': 4,
         'e': 10,
         'f': 3,
         'g': 1,
         'i': 4,
         'l': 8,
         'm': 3,
         'n': 5,
         'o': 7,
         'q': 1,
         'r': 3,
         's': 2,
         't': 7,
         'u': 2,
         'x': 1,
         'y': 2})

In [44]:
#2
sentence=sentence.replace(" ", "")
sentence=sentence.replace(",", "")
sentence=sentence.replace(";", "")
len(sentence)

76

**Excercise 2**

why do we see an error message here

In [45]:
var = 100 + "the number 100"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [78]:
var=100, "the number 100"
var

(100, 'the number 100')

**Excercise 3**

- Save your first and last name in lowercase in seperate variables: firstname, lastname
- Save first and last name together in a new variable fullname
- Print your fullname where the first letter of each name is capitalized

Hint

- Make sure there is space between both names

In [46]:
lastname="elshehawy"
firstname="ashrakat"

fullname=firstname +" " +lastname
fullname

'ashrakat elshehawy'

In [47]:
print(fullname.title())

Ashrakat Elshehawy

**Excercise 4**

Count number of lowercase and uppercase words

Note: There are several ways to do this

In [2]:
my_word = "HelLo WorLd"
lower_count = sum(map(str.islower, my_word))
upper_count = sum(map(str.isupper, my_word))

lower_count

6

**Excercise 5** 

Focusing on manipulating lists!

1. count how many times bananas occur
2. save last item in the list in the variable "oneitem"
3. save the third item in the list in the variable "thirditem"
4. return the items from the beginning to "chocolate"
5. add a new element to the list called "beef"
6. remove first element of list, uses pop function
7. Insert "grapes" instead of oranges
8. sort this list in ascending numbers,  numbers=[1,9,8,5,2,7]

Make sure you dont overwrite the original list (by creating new lists)

In [49]:
food=["apples","oranges","bananas","chocolate","strawberries","bananas"]

In [50]:
#1
food.count("bananas")

2

In [51]:
#2
#negative indexing, you receive last item
oneitem=food[-1] 
oneitem

'bananas'

In [52]:
#3
thirditem=food[2] 
thirditem

'bananas'

In [53]:
#4
print(food[:4]) #By leaving out the end value, the range will go on to the end of the list

['apples', 'oranges', 'bananas', 'chocolate']

In [54]:
#5
# add a new element
food2=food
food2.append("beef")

print(food)

['apples', 'oranges', 'bananas', 'chocolate', 'strawberries', 'bananas', 'beef']

In [55]:
# 6
# remove an element
food3=food
food3.pop(0)

print (food)

['oranges', 'bananas', 'chocolate', 'strawberries', 'bananas', 'beef']

In [56]:
#7
food4=food
food4.insert(2,"grapes")   # Insert item at position i
food

['oranges',
 'bananas',
 'grapes',
 'chocolate',
 'strawberries',
 'bananas',
 'beef']

In [57]:
#8
numbers=[1,9,8,5,2,7]
numbers.sort()
numbers

[1, 2, 5, 7, 8, 9]

**Excercise 6**

Print this string in multi-lines (broken lines) - save in variable "paragraph":

Line 1: I am going to start writing a paragraph <br\>
Line 2: It shoudldnt be too long <br\>
Line 3: I will keep it short

In [58]:
# you can use \n\

# This example also works with single-quotes.
paragraph = "I am going to start writing a paragraph\n\
It shoudldnt be too long\n\
I will keep it short"

print(paragraph)

I am going to start writing a paragraph
It shoudldnt be too long
I will keep it short

In [59]:
#or triple quotations
paragraph = """I am going to start writing a paragraph
It shoudldnt be too long
I will keep it short"""
print(paragraph)

I am going to start writing a paragraph
It shoudldnt be too long
I will keep it short

**Excercise 7**

Use once negative and once positive indexing<br\>
to print the letter n

In [60]:
newsentence= "This is a new sentece for Excercise 7"

In [61]:
#positive sequencing
print(newsentence[10])

n

In [62]:
#negative sequencing
print(newsentence[-21])

n

**Excercise 8**

Add space between every letter of the string below

In [63]:

string4="Test String"

In [64]:
string_revised=" ".join(string4)
print (string_revised)

T e s t   S t r i n g

**Excercise 9**

Dictionaries 
1. print all keys in the dictionary below
2. print all values in the dictionary below

In [65]:
phd_dictionary={"teaching": 2,"dissertation":10,"coffee":20}

In [66]:
phd_dictionary_keys = phd_dictionary.keys()
phd_dictionary_keys

dict_keys(['teaching', 'dissertation', 'coffee'])

In [67]:
phd_dictionary_values = phd_dictionary.values()
phd_dictionary_values

dict_values([2, 10, 20])

**Excercise 10**

List comprehension: <br\>
1. Split the sentece below, into list items
2. Lowercase all words
2. Count the number of charcters for every word in the list, excluding the word "the"

Use list comprehesion to perform 2 and 3

In [68]:
sentence = "The hand sanitizer was actually clear glue."
words = sentence.split()
words

['The', 'hand', 'sanitizer', 'was', 'actually', 'clear', 'glue.']

In [69]:
words_lower = [item.lower() for item in words]
words_lower

['the', 'hand', 'sanitizer', 'was', 'actually', 'clear', 'glue.']

In [70]:
word_lengths = [len(word) for word in words_lower if word != "the"]
print(word_lengths)

[4, 9, 3, 8, 5, 5]

**Excercise 11**

1. Please find the numbers that are common from list1 and list2 using list comprehesion. There are several ways to solve this. Hint: remember boolean operations, and check the usage of if in list comprehensions
2. Please fine the numbers that are common from list1 and list2 using intersection. Hint: Think how sets can come handy here

In [ ]:
list_a = [1, 2, 3, 4]
list_b = [2, 3, 4, 5]

In [ ]:
#1
common_num = [a for a in list_a for b in list_b if a == b]
common_num

In [ ]:
common_num1= [element for element in list_a if element in list_b]
common_num1

In [ ]:
#2
list_a_set = set(list_a)
intersection = list_a_set.intersection(list_b)
intersection

In [ ]:
#another way to do two
list(set(list_a).intersection(list_b))

**Excercise 12**

Why is this code showing an error message?

In [7]:
my_set = {1, 2, [3, 4]}


# set cannot have mutable items
# here [3, 4] is a mutable list
# this will cause an error.

TypeError: unhashable type: 'list'

**Excercise 12**
1. Show the Union between both sets
2. Show the Intersection between both sets
3. Show Set Difference
4. Show Set Symmetric Difference

In [8]:
x = {100, 200, 300, 400, 500}
z = {400, 500, 600, 700, 800}

In [9]:
#1
print(x | z)
#2
print(x & z)
#3
print(x-z)
#4
print(x^z)

{800, 100, 200, 300, 400, 500, 600, 700}
{400, 500}
{200, 100, 300}
{800, 100, 300, 600, 700, 200}

**Excercise 11**

Nested Dictionaries are dictionaries within dictionaries.
1. Print values for birds in general
2. Print values of the Orchids

In [10]:
nested_dict = { 'birds': {'Parrots': 5, "Owls":9},
                'flowers': {'Sunflower': 2, "Lilly":10,"Orchids":20}}
nested_dict

{'birds': {'Owls': 9, 'Parrots': 5},
 'flowers': {'Lilly': 10, 'Orchids': 20, 'Sunflower': 2}}

In [11]:
#1
print(nested_dict['birds'])

{'Parrots': 5, 'Owls': 9}

In [12]:
#2
print(nested_dict['flowers']["Orchids"])

20